<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">Admin</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <style>
        body { padding-bottom: 60px; }
        .avatar { width:56px;height:56px;border-radius:50%;object-fit:cover;border:1px solid #ddd; }
    </style>
</head>
<body>
<header class="container py-3 d-flex align-items-center gap-3">
    <!-- Ảnh cá nhân -->
    <img class="avatar" th:src="@{/img/me.jpg}" alt="me">
    <div>
        <h5 class="mb-0">Quản trị Category</h5>
        <small class="text-muted">Spring Boot • Thymeleaf</small>
    </div>
</header>

<main class="container py-3" layout:fragment="content">
    <!-- Nội dung trang con -->
</main>

<footer class="container py-4 border-top mt-4 fixed-bottom bg-white">
    <div class="small text-muted">
        Sinh viên: <b>Nguyễn Nhật Huy</b> • MSSV: <b>23110226</b> • Lớp: <b>LTW</b>
    </div>
</footer>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
